body{
    background-color: black;
    margin-top: 50px;
}

.add-module {
    background-color: black;
    border: none;
    border-bottom: 2px solid gray;
    color: white;
    border-radius: 0px;
}

.add-module:focus {
    border: 0px;
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: none;
    border-bottom: 2px solid gray;
}
.navbar{
    background: black;
}

.close-editor{
    font-size: 25px;
    color: white;
}

.elements-nav .nav-item{
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-brand {
    left: 10px;
}

.elements-nav .nav-item.active{
    background-color: rgba(0,0,0,.13);
}

.all-module-elements{
    background: black;
}

.topics{
    background-color: #e9e9e9;
    padding: 25px;
    margin-top: -10px;
}

.module-element{
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left:5px;
}

.module-element .nav-link.active, .topic-element .nav-link.active{
    background-color: black;
}

.topic-element .nav-link{
    background-color: #a9a9a9;
    color: white;
}

a:hover {
    text-decoration: none;
}

.elements-nav .nav-item .nav-link{
    color: white;
}

.list-group-item {
    background-color: gray;
    color: white;
}

